.navlogimg {
    padding-top: 9px;
    padding-right: 5px;
}

.amakerfooter {
    margin-top: 20px;
    text-align: center;
}

body {
    padding-top: 50px;
}

.weixing {
    background: url("../img/shareLinkUI.png");
    display: inline-block;
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    background-position: -7px -52px;
}

.qrcode-g {
    padding-top: 5px;
    display: none;
    height: 135px;
    width: 120px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    position: absolute;
    margin-top: -160px;
    margin-left: 20px;
    z-index: 999;
}

    .qrcode-g .tip {
        background: url("../img/tip.png") no-repeat scroll 0 0;
        width: 14px;
        height: 10px;
        margin-left: 55px;
        margin-top: -2px;
    }

body {
    font-family: "微软雅黑";
}

.b-20 {
    height: 20px;
    clear: both;
}

.b-40 {
    height: 42px;
}

@media (max-width: 700px) {

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        height: 170px;
    }
}

.cc-box a {
    margin-left: 5px;
}


.thumbnail {
    width: 250px;
    height: 390px;
    margin: 20px;
    padding: 0;
    border-width: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0,0, 0.175);
}

.thumbnail_small {
    width: 250px;
    height: 280px;
    margin: 20px;
    padding: 0;
    border-width: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0,0, 0.175);
}

    .thumbnail_small .co {
        padding: 10px;
    }

        .thumbnail_small .co a {
            font-size: 16px;
            color: #000;
        }

.thumbnail .caption {
    padding-top: 0px;
}

    .thumbnail .caption .name {
        font-size: 20px;
        color: #0068cf;
        margin: 5px 0;
    }
     .thumbnail .caption .title {
        font-size: 20px;
        color: #0068cf;
        margin: 5px 0;
    }

    .thumbnail .caption .content {
        font-size: 13px;
        height: 64px;
    }

    .thumbnail .caption .cc {
        font-size: 16px;
        height: 40px;
    }

    .caption .cc .c {
        font-size: 16px;
    }
.caption .cc2{
    font-size:15px;
}
.caption .cont{
    height:43px;
}
.thumbnail hr {
    margin: 5px 0px;
}

.thumbnail_small .til {
    font-size: 22px;
}

.thumbnail_small .caption {
    font-size: 16px;
    padding: 10px 10px;
}

.thumbnail .caption .title {
    height: 52px;
}

.thumbnail a i {
    color: #fa5473;
}

.title {
    margin-bottom: 5px;
    font-size: 18px;
}



.content .tag {
    padding: 0.2em 0.4em;
    margin-bottom: 4px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 2px;
    color: #000;
}

    .content .tag:hover {
        color: #444;
    }

@media (max-width: 700px) {
    .thumbnail {
        margin: 20px auto;
    }
}

.h50 {
    height: 50px;
    clear: both;
}

.h20 {
    height: 20px;
    clear: both;
}

.thumbnail a .aic {
    color: #0755a1;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.showbox a {
    color: #0068cf;
}


.tac {
    text-align: center;
}
