 .box-info {
            text-align: center;
        }

        .red {
            color: #c12020;
        }

        .ui-info {
            width: 100%;
            overflow: auto;
            margin: 5px 0 5px 5px;
        }

        .lab {
            float: left;
            width: 33%;
            height: 24px;
            line-height: 24px;
        }

        #money {
            float: left;
            width: 62%;
        }

        .ulinfo {
            margin: 5px 0;
        }

        .alipay {
            float: left;
            display: inline-block;
            height: 31px;
            line-height: 30px;
        }

        .alipayimg {
            width: 142px;
            background-position: 0 0;
            background: url("../../img/pay.png") no-repeat;
        }
        .btnbox {
    width:100%;
     text-align: center;
}
        .czbtn {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            margin:0 auto;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            text-indent: 0px;
            text-shadow: none;
            width: 80%;
        }

        .ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
            color: #fff;
            font-weight: 700;
        }

        .czzs-info {
            font-size: 0.8em;
        }