.ui-panel {
    width: 12em;
}

.pr {
    margin: 0px;
    padding: 0px;
}


.rpanelul {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
}

    .rpanelul li {
        padding-left: 10px;
        background-color: #fff;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #999;
    }

        .rpanelul li a {
            color: #0755a1;
            display: block;
            line-height: 40px;
            font-size: 1em;
            text-decoration: none;
        }

.firstLoad {
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
    height: 45px;
    line-height: 45px;
}

/*ajax加载页面*/
.load {
    font-size: 20px;
    display: none;
    text-align: center;
    display: none;
    height: 45px;
    line-height: 45px;
}

.headi {
    background-color: #0755a1;
    text-shadow: 0 0 0 #fff;
    color: #fff;
    height: 54px;
    font-weight: 500;
}


    .headi h1 {
        height: 44px;
        line-height: 30px;
    }

    .headi .hdbutton {
        display: inline-block;
        margin-top: 5px;
    }

.head {
    background-color: #0755a1;
    text-shadow: 0 0 0 #fff;
    color: #fff;
    height: 110px;
    font-weight: 500;
}

    .head h1 {
        height: 28px;
        line-height: 28px;
    }

    .head .hdbutton {
        display: inline-block;
        margin-top: 5px;
    }

.search {
    height: 50px;
    padding: 2px 5px 10px 5px;
    background-color: #fff;
}

.uplist img {
    margin: 10px 0 0 5px;
    height: 60px;
    width: 80px;
}

#fm {
    padding: 0 10px;
}

.say {
    position: fixed;
    top: 0px;
    text-align: center;
    z-index: 99999;
    text-shadow: 0 0 #111;
    color: #fff;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    line-height: 44px;
    height: 44px;
    left: 3%;
    width: 94%;
}

a {
    text-decoration: none;
    color: #0755a1;
}

    a:hover {
        text-decoration: none;
        color: #0654a0;
    }
    .kd {
    height: 5px;
    width: 100%;
    clear: both;
}
.col-red {
    padding-top:14px;
    font-size:1.3em;
    border:0px;
    color:#FF3300;
}
.col-greed {
      padding-top:14px;
     font-size:1.3em;
    border:0px;
    color:#33CC00;
}
     .proItem input {
            position:absolute;
            z-index:999;
            left:0;
            top:30px;
        }
        .ui-listview .ui-li-has-thumb > img:first-child, .ui-listview .ui-li-has-thumb > .ui-btn > img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb   {
            left:20px;
        }
      .ui-listview > .ui-li-has-thumb > .ui-btn, .ui-listview > .ui-li-static.ui-li-has-thumb  {
            padding-left:7em;
        }
      #uili_key {
            color:#CC0033;
        }