.ui-panel {
    width: 12em;
}

.pr {
    margin: 0px;
    padding: 0px;
}


.rpanelul {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
}

    .rpanelul li {
        padding-left: 10px;
        background-color: #fff;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #999;
    }

        .rpanelul li a {
            color: #0755a1;
            display: block;
            line-height: 40px;
            font-size: 1em;
            text-decoration: none;
        }

.firstLoad {
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
    height: 45px;
    line-height: 45px;
}

/*ajax加载页面*/
.load {
    font-size: 20px;
    display: none;
    text-align: center;
    display: none;
    height: 45px;
    line-height: 45px;
}

.headi {
    background-color: #0755a1;
    text-shadow: 0 0 0 #fff;
    color: #fff;
    /*height: 54px;
    font-weight: 500;*/
}


    .headi h1 {
        /*height: 44px;
        line-height: 30px;*/
    }

    .headi .hdbutton {
        /*display: inline-block;
        margin-top: 5px;*/
    }

.head {
    background-color: #0755a1;
    text-shadow: 0 0 0 #fff;
    color: #fff;
    /*height: 110px;
    font-weight: 500;*/
}

    .head h1 {
        /*height: 28px;
        line-height: 28px;*/
    }

    .head .hdbutton {
        /*display: inline-block;
        margin-top: 5px;*/
    }

.search {
    height: 50px;
    padding: 2px 5px 10px 5px;
    background-color: #fff;
}

.uplist img {
    margin: 10px 0 0 5px;
    height: 60px;
    width: 80px;
}

#fm {
    padding: 0 10px;
}

.say {
    position: fixed;
    top: 0px;
    text-align: center;
    z-index: 99999;
    text-shadow: 0 0 #111;
    color: #fff;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    line-height: 44px;
    height: 44px;
    left: 3%;
    width: 94%;
}

a {
    text-decoration: none;
    color: #0755a1;
}

    a:hover {
        text-decoration: none;
        color: #0654a0;
    }

.kd {
    height: 5px;
    width: 100%;
    clear: both;
}

.col-red {
    padding-top: 14px;
    font-size: 1.3em;
    border: 0px;
    color: #FF3300;
}

.col-greed {
    padding-top: 14px;
    font-size: 1.3em;
    border: 0px;
    color: #33CC00;
}

.proItem input {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 30px;
}

.ui-listview .proItem > img:first-child, .ui-listview .proItem > .ui-btn > img:first-child, .ui-listview .proItem .ui-li-thumb {
    left: 20px;
}

.ui-listview > .proItem > .ui-btn, .ui-listview > .ui-li-static.proItem {
    padding-left: 7em;
}

#uili_key {
    color: #CC0033;
}

.proItemnoimg .noimg {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 25px;
}

.ui-listview .proItemnoimg > img:first-child, .ui-listview .proItemnoimg > .ui-btn > img:first-child, .ui-listview .proItemnoimg .ui-li-thumb {
    left: 10px;
}

.ui-listview > .proItemnoimg > .ui-btn, .ui-listview > .ui-li-static.proItemnoimg {
    padding-left: 2em;
}

/*.ltop {
    position: absolute;
    z-index: 999;
    left: 4px;
    top: 5px;
}*/

.ltop-red {
    color: #990033;
}

.ltop-blue {
    color: #0755a1;
}

.ltop-green {
    color: #237449;
}

/*.sd {
    float: left;
    padding-left: 50px;
    position: absolute;
    right: -30px;
    width: 160px;
    height: 20px;
    z-index: 1;
    transform: rotate(50deg);
    -ms-transform: rotate(50deg); 
    -moz-transform: rotate(50deg);
    -webkit-transform: rotate(50deg); 
    -o-transform: rotate(50deg);
    border-radius: 2px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    color: #fff;
    font-size: 1em;
    text-shadow: 0 0 0 #fff;
    line-height: 18px;
    text-align: center;
}

.sd-red {
    background: #990033;
}

.sd-bule {
    background: #0755a1;
}

.sd-green {
    background: #237449;
}
.ah h2{
    max-width:80%;
}*/

.ah-p {
    padding-left: 24px;
}

.tip-min {
    float: right;
}

    .tip-min i {
        font-size: 1.2em;
    }

.dis-none {
    display: none;
}

.dis-block {
    display: none;
}

.dialogbox {
    height: 100%;
    width: 100%;
    background-color: #808080;
    position: absolute;
    z-index: 9999;
    top: 1px;
    opacity: 0.9;
    display: none;
}

.padbox {
    height: 300px;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
}

.dia-con {
    padding: 0 10px;
    clear: both;
}

.dia-title {
    margin-top: 120px;
    background-color: #ccc;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

    .dia-title .xd {
        float: right;
        height: 40px;
        line-height: 40px;
        margin-right: 10px;
    }

.ui-input-search {
    margin: 10px 10px;
}

.dia-con {
    margin-top: 10px;
    height: 200px;
    overflow: scroll;
}

.dia-conItem {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #808080;
}

.dg-load-box {
    height: 32px;
    width: 50px;
    margin: 120px auto;
    text-align: center;
    line-height: 32px;
}

.dg-load .dg-load-box i {
    color: #fff;
    font-size: 2em;
}

.close {
    color: #990033;
}

.lia a img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.ui-listview > li.ui-first-child .circleImg:first-child:not(.ui-li-icon) {
    width: 60px;
    height: 60px;
    border-top-left-radius: 50px;
    border-radius: 50px;
}
